<h1>Attendance Table</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Attended_On</th>
    <th>Seat</th>
  </tr>

  <% @attendances.each do |attendance| %>
    <tr>
      <td><%= link_to attendance.user.name, attendances_path(user_id: attendance.user.id) %></td>
      <td><%= attendance.attended_on %></td>
      <td><%= attendance.seat %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', seating_chart_users_path %>